body {
    background: #ececec;
}

.top {
    background: black;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.menu {
    background: #850606;
}

main {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.header-image {
    height: 7rem;
    background-image: url('../resources/dnd.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}